extends base

block content
  .dashboard-container
    h1 Dashboard
    ul.news-list
      each article in articles
        li.news-item
          h2.news-title= article.title
          p.news-content= article.content
          a.news-link(href=`/news/${article._id}`) Read More