extends base
block content 
 .orga-container
  p.para
    h3.headi Organisational Setup of PIB
    br 
    h3.headi Nationwide Network for Pan India Impact 
    br 
  p
    | Press Information Bureau (PIB) is an attached office under the 
    strong  Ministry of Information and Broadcasting, Government of India
    | headquartered in New Delhi. It is headed by the Principal Director General (Media & Communication) (Secretary level officer) who is assisted by a Director General and eight Additional Director Generals at Headquarters.
    br
    | 
  img#flowchart(src="https://static.pib.gov.in/WriteReadData/userfiles/image/image0011VL1.jpg", alt="")
  p.para Below them are the PIB Officers/Departmental Publicity Officers (DPOs) (Directors, Joint Director, Dy. Director, Asstt. Director and M&CO).
  br
  p
    | Every Ministry and Department of the government of India has an officer of PIB Delhi, who is entrusted with public communication on behalf of the ministry. The PIB officer in charge of a Ministry / Department is its authorized spokesperson and briefs the media on policies and programmes of the Ministry / Department, disseminates information, answers queries, provides clarifications and addresses misconceptions and misunderstandings that may arise. He/she analyses public reaction as reflected in the editorials, articles, and comments in the media, in order to keep the Ministry/Department informed about the public opinion and advises the Ministry/Department on its media and IEC (Information, Education and Communication) strategy. As a
    strong Spokesperson
    | of the Ministry/Department and as media adviser, the officer of the PIB is called upon to be a partner in the process of formulation and implementation of public policies.
  br
  p
    | The structure at PIB Delhi is complemented with a pan India presence, in each and every state and union territory. A Director General (Zone) heads the government communication system in each of the five zones, with each zone further divided into regions. PIB has 8 regional offices, each headed by an Additional Director General (Region), and a total of 34 Branch Offices and Information Centres. Besides handling the official communications in regional languages, the regional offices also cater to the communication requirements of all central government departments in their respective states and UTs by providing independent information and PR support to various government organizations in their jurisdiction and to the visiting GOI functionaries through press conferences, press releases, press visits and other media instructions.
  br
  p
    | They are mandated to work closely not just with the central government departments located in their regions /State/UTs but also with the respective state government, thereby providing them with strategic advice and communication support for a more effective implementation of central government programmes and policies.
