* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ///////////////////////////// */
/* css for the header */
html {
    font-size: 62.5%;
}
body {
    font-size: 3.2rem;
}
.logo-img {
    display: flex;
    gap: 4rem;
    justify-content: center;
}
.img {
    height: 15rem;
}
.nav-list {
    display: flex;
    list-style: none;
    gap: 3.6rem;
    justify-content: center;
    background-color: orange;
    padding: 1rem;
}
.nav-ele a {
    text-decoration: none;
    color: white;
}
.social-handles {
    background-color: rgb(37, 224, 146);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    padding-right: 4rem;
    gap: 4rem;
}
.social-handles a svg {
    height: 40px;
    width: 40px;
    transform: translateY(4px);
}
.nav-ele a {
    display: flex;
}
.login-button {
    background-color: black;
    border-radius: 15px;
    padding: 3px 6px;
}

/* copied  */
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 3.2rem;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
